html{
    background-color:#e1b89490 ;
}

/*  HEADER      */


.row_header{
    background-color: #875c36ba;
    text-align: center;
    padding: 10px;
    border-color: white;
    font-family: 'Merriweather';
    font-weight: bold;
    color: #e9e2d7;
    height: 90px;
}

.help{
    text-align: center;
    position: absolute;
    font-family: 'Merriweather';
    font-weight: bold;
    background-color: #e9e2d7ff;
    border-radius: 30px;
    border-width: 0px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    color: #875c36;
    left: 10px;
    top: 20px;
    border: 1px solid white;
}


.help:hover{
    background-color: #875c36;
    color: #e9e2d7ff;
}
/*  HEADER      */

/*  Enter your name   */

#name {
    padding: 10px;
    padding-top: 30px;

    text-align: center;
    font-size: 30px;
    font-family: 'Merriweather';
    font-weight: bold;
    color: #704523;
    background-color:#e1b89490 ;
}

#user_name{
    font-family: 'Merriweather';
    color: #704523;
    border: 2px white solid;
    border-radius: 10px;
    background-color: #e1b89490;
}

/*  Enter your name   */

/*  ingredient font */

.ingredient_heading{
    text-align-last: center;
    font-family: 'Merriweather';
    font-weight: bold;
    color: #704523;
    font-size: 30px;
    background-color:#e1b89490 ;
    padding: 20px;
    margin: 0%;
}


#ingredients-name{
    font-family: 'Merriweather';
    font-weight: lighter;
    font-size: 30px;
    color: black;
}

/*  ingredient font */

/*  inside button format */

#ingredient {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    background-color:#e1b89490 ;
    padding-bottom: 50px;
}

#item{
    object-fit: cover;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 50%;
    height: auto;
    max-width: 50%;
    max-height: auto;
}

.click_ingr{
    height: 300px;
    width: 250px;
    border: white 0pc solid;
    border-radius: 30px;
}

.click_ingr:hover{
    background-color: yellow;
}
/* inside  buttons format*/



/*  select ingredi section  */
#protein{
    background-color: #b1c5c3ff;
}

#grains{
    background-color: #d0cabfff;
}
#dairy{
    background-color: #e1b894ff;
}
#fruit{
    background-color: #875c36ff;
}
#vege{
    background-color: #704523ff;
}
  /*  select ingredi section  */




/*  Food restrictions section  */
#allergy{
    background-color: #b1c5c3ff;
    height: 150px;
    width: 250px;
    border-radius: 30px;
}

#veget{
    background-color: #d0cabfff;
    height: 150px;
    width: 250px;
    border-radius: 30px;
}
#vegan{
    background-color: #e1b894ff;
    height: 150px;
    width: 250px;
    border-radius: 30px;
}
#free{
    background-color: #875c36ff;
    height: 150px;
    width: 250px;
    border-radius: 30px;
}
#lac{
    background-color: #704523ff;
    height: 150px;
    width: 250px;
    border-radius: 30px;
}

/*  Food restrictions section  */



/*  Bottom part of the site  */
.bottom_container{
    height: 90px;
    position: relative;
    background-color:#875c36b9 ;
}

.generate{
    font-family: 'Merriweather';
    font-weight: bold;
    background-color: #eeeeeeff;
    border-radius: 12px;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    height: 90px;
    width: 600px;
    color: #7e918f;
}
.button_container{
    height: 100px;
    position: relative;
    background-color:#e1b89490 ;
}

.generate:hover{
    background-color: #7e918f;
    color: #eeeeeeff;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about{
    position: absolute;
    font-family: 'Merriweather';
    font-weight: bold;
    background-color: #e9e2d7ff;
    border-radius: 12px;
    border-width: 0px;
    font-size: auto;
    height: 40px;
    width: 150px;
    color: #875c36;
    bottom: 30%;
    left: 10px;
    border: 1px solid white;
}

.about:hover{
    background-color: #875c36;
    color: #e9e2d7ff;
}

/*  Bottom part of the site  */

/*  Splash screen  */

#splash_screen{
    width: 85%;
    height: 85%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #b1c5c3d9;
    z-index: 99;
    color: #073763;
    font-weight: bold;
    text-align: center;
    line-height: 90vh;
    opacity: 0;
    border: 2px solid white;
}


#welcome{
    font-family: 'Merriweather';
    padding-top: 20px;
    padding-bottom: 10px;
}

.h33_intro{
    font-family: 'Merriweather';
    font-weight: lighter;

    padding-top: 25px;
    padding-bottom: 25px;


}


.h33{
    font-family: 'Merriweather';
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 20px;


}

.h33_bold{
    font-family: 'Merriweather';
    font-weight: bold;
    padding-top: 50px;
}
